div{width: 500px; height: 400px; background-color: #0d0d64; padding: 40px; margin:80px; align-items: center;}
.akash{ display: block; margin-bottom: 10px; align-items: center;}.apon,p{display: inline;}
button{ margin-left:80% ; background-color: chartreuse; color: white;}
h2{ text-align: center; padding-bottom: 30px; }p{ margin: 10px; }
