img{ height: 300px; width: 500px; margin-left: 80px;} .imam1{ text-align: center; margin-right:300px ;}
span{margin: 0px 10px; } header>ul>li{ display:inline; margin:50px;}
.imam9{align-items: center; display: inline;text-align: center; }
h5{text-align: center;} figcaption{margin-left: 80px;}
body{padding-bottom: 800px;}
footer>p,button{display: inline; margin-left: 15px;}
header>nav>ul>li{ display: inline; margin: 50px;}
.imam7>form{margin-bottom: 30px;}label{display: block;}label{margin-bottom:10px ;}


